### ðŸŽ¯ Inference Notebook: Predict Customer Satisfaction

In [2]:
import pandas as pd
import numpy as np
import pickle, joblib
from sklearn.ensemble import RandomForestClassifier

In [3]:
# Load real-world survey data for prediction
rd = pd.read_excel('Book1.xlsx')  # <-- Replace with your actual file name
rd.head()

,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10
0,2-3 times a week,Customer service; Variety of products; Quality...,â‚¹2000+,4,Enhanced customer service,"Mobile Payment (e.g. Google Pay, PhonePe)",Special Discounts for Regular Customers; Other...,9,9,4
1,2-3 times a week,Quality of products; Location; Customer servic...,â‚¹500â€“â‚¹1000,2,Enhanced customer service; Better promotions/o...,Cash; Credit/Debit Card; Mobile Payment (e.g. ...,Buy One Get One Free; Special Discounts for Re...,9,4,3
2,Once a month,Customer service,â‚¹500â€“â‚¹1000,3,Better promotions/offers; Enhanced customer se...,Credit/Debit Card; Cash,Buy One Get One Free; Special Discounts for Re...,2,2,5

In [4]:
# Encode categorical features as done during training
q1_map = {'Once a week': 1, '2-3 times a week': 2, 'Once a month': 3, 'Rarely': 4}
q3_map = {'â‚¹100â€“â‚¹500': 1, 'â‚¹500â€“â‚¹1000': 2, 'â‚¹1000â€“â‚¹2000': 3, 'â‚¹2000+': 4}
rd['Q1'] = rd['Q1'].map(q1_map)
rd['Q3'] = rd['Q3'].map(q3_map)
rd['Q4'] = rd['Q4'].astype(int)
rd['Q8'] = rd['Q8'].astype(int)
rd['Q9'] = rd['Q9'].astype(int)
rd['Q10'] = rd['Q10'].astype(int)

In [5]:
rd.columns[rd.columns.duplicated()]

Index([], dtype='object')

In [6]:
rd = rd.loc[:, ~rd.columns.duplicated()]
rd.head()

,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10
0,2,Customer service; Variety of products; Quality...,4,4,Enhanced customer service,"Mobile Payment (e.g. Google Pay, PhonePe)",Special Discounts for Regular Customers; Other...,9,9,4
1,2,Quality of products; Location; Customer servic...,2,2,Enhanced customer service; Better promotions/o...,Cash; Credit/Debit Card; Mobile Payment (e.g. ...,Buy One Get One Free; Special Discounts for Re...,9,4,3
2,3,Customer service,2,3,Better promotions/offers; Enhanced customer se...,Credit/Debit Card; Cash,Buy One Get One Free; Special Discounts for Re...,2,2,5

In [7]:
# Drop rows with missing values (if any)
rd.dropna(inplace=True)
rd

,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10
0,2,Customer service; Variety of products; Quality...,4,4,Enhanced customer service,"Mobile Payment (e.g. Google Pay, PhonePe)",Special Discounts for Regular Customers; Other...,9,9,4
1,2,Quality of products; Location; Customer servic...,2,2,Enhanced customer service; Better promotions/o...,Cash; Credit/Debit Card; Mobile Payment (e.g. ...,Buy One Get One Free; Special Discounts for Re...,9,4,3
2,3,Customer service,2,3,Better promotions/offers; Enhanced customer se...,Credit/Debit Card; Cash,Buy One Get One Free; Special Discounts for Re...,2,2,5

In [8]:
# Load trained RandomForest model
with open('customer_classifier_RF.pkl', 'rb') as f:
    model = joblib.load(f)

print(type(model))

<class 'sklearn.ensemble._forest.RandomForestClassifier'>

In [9]:
# Run predictions
X_real = rd[['Q1', 'Q3', 'Q4', 'Q8', 'Q9', 'Q10']]
rd['Predicted_Cust_Satisfaction'] = model.predict(X_real)
#rd[['Q1', 'Q3', 'Q4', 'Q8', 'Q9', 'Q10', 'Predicted_Cust_Satisfaction']]
rd

,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,Predicted_Cust_Satisfaction
0,2,Customer service; Variety of products; Quality...,4,4,Enhanced customer service,"Mobile Payment (e.g. Google Pay, PhonePe)",Special Discounts for Regular Customers; Other...,9,9,4,1
1,2,Quality of products; Location; Customer servic...,2,2,Enhanced customer service; Better promotions/o...,Cash; Credit/Debit Card; Mobile Payment (e.g. ...,Buy One Get One Free; Special Discounts for Re...,9,4,3,0
2,3,Customer service,2,3,Better promotions/offers; Enhanced customer se...,Credit/Debit Card; Cash,Buy One Get One Free; Special Discounts for Re...,2,2,5,0