In [1]:
%%time
import pandas as pd
import numpy as np

# Load the data
df = pd.read_csv("100k_survey_responses.csv")
df.head()

CPU times: total: 234 ms
Wall time: 894 ms

,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,Cust_satisfaction
0,Once a month,Customer service; Location; Price; Variety of ...,₹2000+,2.0,Improved product selection; Lower Prices; Other,Credit/Debit Card; Cash; Mobile Payment (e.g. ...,Discount Coupons; Buy One Get One Free; Other;...,8.0,2.0,1.0,0
1,2-3 times a week,Other; Customer service; Variety of products; ...,₹1000–₹2000,3.0,Better promotions/offers; Enhanced customer se...,"Mobile Payment (e.g. Google Pay, PhonePe); Cre...",Special Discounts for Regular Customers; Other...,4.0,8.0,4.0,0
2,Never,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,Once a week,Quality of products; Customer service; Other,₹2000+,3.0,Enhanced customer service; Improved product se...,"Mobile Payment (e.g. Google Pay, PhonePe); Cas...",Buy One Get One Free,7.0,7.0,4.0,0
4,Never,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [2]:
df.isnull().value_counts()

Q1     Q2     Q3     Q4     Q5     Q6     Q7     Q8     Q9     Q10    Cust_satisfaction
False  False  False  False  False  False  False  False  False  False  False                81966
       True   True   True   True   True   True   True   True   True   False                18034
Name: count, dtype: int64

In [3]:
df.dropna(inplace=True)
df

,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,Cust_satisfaction
0,Once a month,Customer service; Location; Price; Variety of ...,₹2000+,2.0,Improved product selection; Lower Prices; Other,Credit/Debit Card; Cash; Mobile Payment (e.g. ...,Discount Coupons; Buy One Get One Free; Other;...,8.0,2.0,1.0,0
1,2-3 times a week,Other; Customer service; Variety of products; ...,₹1000–₹2000,3.0,Better promotions/offers; Enhanced customer se...,"Mobile Payment (e.g. Google Pay, PhonePe); Cre...",Special Discounts for Regular Customers; Other...,4.0,8.0,4.0,0
3,Once a week,Quality of products; Customer service; Other,₹2000+,3.0,Enhanced customer service; Improved product se...,"Mobile Payment (e.g. Google Pay, PhonePe); Cas...",Buy One Get One Free,7.0,7.0,4.0,0
7,Rarely,Quality of products; Customer service; Other,₹2000+,1.0,Better promotions/offers; Lower Prices; Enhanc...,Credit/Debit Card; Mobile Payment (e.g. Google...,Discount Coupons; Buy One Get One Free; Other;...,4.0,10.0,4.0,0
8,2-3 times a week,Customer service; Quality of products; Price; ...,₹2000+,5.0,Better promotions/offers; Lower Prices; Improv...,"Mobile Payment (e.g. Google Pay, PhonePe)",Other,8.0,8.0,5.0,1
...,...,...,...,...,...,...,...,...,...,...,...
99993,Once a week,Location; Variety of products; Quality of prod...,₹1000–₹2000,4.0,Enhanced customer service,Credit/Debit Card,Buy One Get One Free; Special Discounts for Re...,2.0,1.0,2.0,0
99995,2-3 times a week,Location; Customer service; Quality of products,₹100–₹500,3.0,Better promotions/offers; Enhanced customer se...,"Cash; Mobile Payment (e.g. Google Pay, PhonePe...",Loyalty Points/Rewards; Other; Discount Coupons,7.0,9.0,5.0,0
99996,2-3 times a week,Location; Other,₹2000+,3.0,Other; Better promotions/offers; Improved prod...,"Mobile Payment (e.g. Google Pay, PhonePe); Cre...",Special Discounts for Regular Customers,7.0,5.0,5.0,0
99997,Once a month,Other; Variety of products; Customer service; ...,₹2000+,4.0,Lower Prices; Enhanced customer service,Credit/Debit Card,Discount Coupons; Other,8.0,8.0,5.0,0
99998,Once a month,Other,₹500–₹1000,3.0,Enhanced customer service; Other; Improved pro...,Cash; Credit/Debit Card,Other; Special Discounts for Regular Customers,5.0,3.0,2.0,0

In [4]:
# Map single-choice questions
q1_map = {'Once a week': 1, '2-3 times a week': 2, 'Once a month': 3, 'Rarely': 4}
q3_map = {'₹100–₹500': 1, '₹500–₹1000': 2, '₹1000–₹2000': 3, '₹2000+': 4}

df['Q1'] = df['Q1'].map(q1_map)
df['Q3'] = df['Q3'].map(q3_map)
df['Q4'] = df['Q4'].astype(int)
df['Q8'] = df['Q8'].astype(int)
df['Q9'] = df['Q9'].astype(int)
df['Q10'] = df['Q10'].astype(int)

In [5]:
df

,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,Cust_satisfaction
0,3,Customer service; Location; Price; Variety of ...,4,2,Improved product selection; Lower Prices; Other,Credit/Debit Card; Cash; Mobile Payment (e.g. ...,Discount Coupons; Buy One Get One Free; Other;...,8,2,1,0
1,2,Other; Customer service; Variety of products; ...,3,3,Better promotions/offers; Enhanced customer se...,"Mobile Payment (e.g. Google Pay, PhonePe); Cre...",Special Discounts for Regular Customers; Other...,4,8,4,0
3,1,Quality of products; Customer service; Other,4,3,Enhanced customer service; Improved product se...,"Mobile Payment (e.g. Google Pay, PhonePe); Cas...",Buy One Get One Free,7,7,4,0
7,4,Quality of products; Customer service; Other,4,1,Better promotions/offers; Lower Prices; Enhanc...,Credit/Debit Card; Mobile Payment (e.g. Google...,Discount Coupons; Buy One Get One Free; Other;...,4,10,4,0
8,2,Customer service; Quality of products; Price; ...,4,5,Better promotions/offers; Lower Prices; Improv...,"Mobile Payment (e.g. Google Pay, PhonePe)",Other,8,8,5,1
...,...,...,...,...,...,...,...,...,...,...,...
99993,1,Location; Variety of products; Quality of prod...,3,4,Enhanced customer service,Credit/Debit Card,Buy One Get One Free; Special Discounts for Re...,2,1,2,0
99995,2,Location; Customer service; Quality of products,1,3,Better promotions/offers; Enhanced customer se...,"Cash; Mobile Payment (e.g. Google Pay, PhonePe...",Loyalty Points/Rewards; Other; Discount Coupons,7,9,5,0
99996,2,Location; Other,4,3,Other; Better promotions/offers; Improved prod...,"Mobile Payment (e.g. Google Pay, PhonePe); Cre...",Special Discounts for Regular Customers,7,5,5,0
99997,3,Other; Variety of products; Customer service; ...,4,4,Lower Prices; Enhanced customer service,Credit/Debit Card,Discount Coupons; Other,8,8,5,0
99998,3,Other,2,3,Enhanced customer service; Other; Improved pro...,Cash; Credit/Debit Card,Other; Special Discounts for Regular Customers,5,3,2,0

In [6]:
df_model = df[['Q1', 'Q3', 'Q4', 'Q8', 'Q9', 'Q10','Cust_satisfaction']]
df_model.head()

   Q1  Q3  Q4  Q8  Q9  Q10  Cust_satisfaction
0   3   4   2   8   2    1                  0
1   2   3   3   4   8    4                  0
3   1   4   3   7   7    4                  0
7   4   4   1   4  10    4                  0
8   2   4   5   8   8    5                  1

In [7]:
df_model.isnull().sum()

Q1                   0
Q3                   0
Q4                   0
Q8                   0
Q9                   0
Q10                  0
Cust_satisfaction    0
dtype: int64

In [8]:
df_model.columns[df_model.columns.duplicated()]

Index([], dtype='object')

In [9]:
df_model = df_model.loc[:, ~df_model.columns.duplicated()]
df_model.head()

   Q1  Q3  Q4  Q8  Q9  Q10  Cust_satisfaction
0   3   4   2   8   2    1                  0
1   2   3   3   4   8    4                  0
3   1   4   3   7   7    4                  0
7   4   4   1   4  10    4                  0
8   2   4   5   8   8    5                  1

In [10]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, confusion_matrix
from xgboost import XGBClassifier

#### XGBoost Classifier

In [12]:
# Train/test split
X = df_model.drop(columns=['Cust_satisfaction'])
y = df_model['Cust_satisfaction']

In [13]:
# Add random noise to numeric columns
numeric_cols = X.select_dtypes(include=[np.number]).columns

# Add small Gaussian noise (mean=0, std=0.01 * std of each column)
noise = pd.DataFrame(
    np.random.normal(loc=0, scale=X[numeric_cols].std() * 0.01, size=X[numeric_cols].shape),
    columns=numeric_cols
)

# Add noise only to numeric features
X[numeric_cols] = X[numeric_cols] + noise

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=123)

In [15]:
%%time
# Train RandomForest classifier
rf = RandomForestClassifier(random_state=123)
rf.fit(X_train, y_train)

xg = XGBClassifier(use_label_encoder=False, eval_metric='logloss')
xg.fit(X_train, y_train)

# Step 10: Evaluate
y_pred = xg.predict(X_test)

print("Accuracy:", xg.score(X_test, y_test))
print("\nClassification Report:\n", classification_report(y_test, y_pred))
print("\nConfusion Matrix:\n", confusion_matrix(y_test, y_pred))

Accuracy: 0.9785897279492497

Classification Report:
               precision    recall  f1-score   support

           0       0.98      1.00      0.99     14353
           1       1.00      0.83      0.91      2041

    accuracy                           0.98     16394
   macro avg       0.99      0.91      0.95     16394
weighted avg       0.98      0.98      0.98     16394


Confusion Matrix:
 [[14353     0]
 [  351  1690]]
CPU times: total: 3.23 s
Wall time: 6.26 s

C:\Users\muati\anaconda3\Lib\site-packages\xgboost\training.py:183: UserWarning: [19:00:06] WARNING: C:\actions-runner\_work\xgboost\xgboost\src\learner.cc:738:
Parameters: { "use_label_encoder" } are not used.

  bst.update(dtrain, iteration=i, fobj=obj)

In [16]:
import joblib

# Save model
joblib.dump(rf, 'customer_classifier_XG.pkl')

['customer_classifier_XG.pkl']